.title-username1{
    font-family: 'Nunito Black';
}
.title-postContent{
    font-family:  "Open Sans Medium";
    
}
.title-username{
    font-family: 'Nunito Bold';
}
.title-comment{
    font-family: "Open Sans Regular";
}
.title-like{
    font-family: "COINY";
}
