.img-container {
  position: absolute;
  rotate: -45deg;
  z-index: 5;
  background-image: url('../../assets/img/Home/BgElement_HeroSection.png');
  background-size: cover;
  background-position: center;
}

.img-container2 {
  position: absolute;
  z-index: 6;
  background-image: url('../../assets/img/Home/BgElement2_HeroSection.png');
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .img-container2 {
    rotate: 35deg;
  }
}