/* ---------------- Footer --------------------- */

.custom-padding-row {
    padding: 3% 4%;
}

#footer-logo {
    width: 14rem;
}

.a-link {
    text-decoration: none;
    color: #ffffff;
}

.left-container,
.right-container {
    min-height: 230px;
    justify-content: space-between;
}