@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito Bold';
    src: url("./assets/fonts/Nunito/Nunito-Bold.ttf");
}

@font-face {
    font-family: 'Nunito Black';
    src: url("./assets/fonts/Nunito/Nunito-Black.ttf");
}

@font-face {
    font-family: "Nunito ExtraBold";
    src: url("./assets/fonts/Nunito/Nunito-ExtraBold.ttf");
}

@font-face {
    font-family: "Coiny";
    src: url("./assets/fonts/Coiny/Coiny-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("./assets/fonts/OpenSans/OpenSauceSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans Medium";
    src: url("./assets/fonts/OpenSans/OpenSauceSans-Medium.ttf");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("./assets/fonts/OpenSans/OpenSauceSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Semi";
    src: url("./assets/fonts/OpenSans/OpenSauceSans-SemiBold.ttf");
}

@font-face {
    font-family: "Open Sans Extra";
    src: url('./assets/fonts/OpenSans/OpenSauceSans-ExtraBold.ttf');
}

@font-face {
    font-family: "Open Sans Black";
    src: url('./assets/fonts/OpenSans/OpenSauceSans-Black.ttf');
}

:root {
    --main-section-bg-clr: #F3F3F3;
}

::selection {
    background-color: #F2D0D2;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}